<a href="https://colab.research.google.com/github/EnzoNevesDEV/BigData/blob/main/Treino2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [16]:
!wget -q https://downloads.apache.org/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz

In [17]:
!tar xf spark-3.5.1-bin-hadoop3.tgz

In [18]:
!pip install -q findspark

In [19]:
!pip install -q pyspark

In [20]:
import os

In [21]:
os.environ['JAVA_HOME'] = '/usr/lib/jvm/java-8-openjdk-amd64'

In [26]:
os.environ['SPARK_HOME'] = '/content/spark-3.5.1-bin-hadoop3'

In [23]:
import findspark

In [27]:
 findspark.init()

In [28]:
from pyspark.sql import SparkSession

In [29]:
spark = SparkSession.builder \
        .appName("Exerc√≠cio Spark") \
        .getOrCreate()

In [49]:
dados = [
    (1, "Raphael", 39),
    (2, "Caroline", 30),
    (3, "Viniciu", 25)
]

In [54]:
schema = [ "id", "nome", "idade"]

df = spark.createDataFrame(dados, schema)
df.createOrReplaceTempView("pessoas")

consulta = spark.sql("SELECT MAX(idade) AS maior_idade, MAX(id) AS maior_numero FROM pessoas")

consulta.show()

+-----------+------------+
|maior_idade|maior_numero|
+-----------+------------+
|         39|           3|
+-----------+------------+