<a href="https://colab.research.google.com/github/EnzoNevesDEV/BigData/blob/main/Treino1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [42]:
!wget -q https://downloads.apache.org/spark/spark-3.4.3/spark-3.4.3-bin-hadoop3.tgz

In [44]:
!tar xf spark-3.4.3-bin-hadoop3.tgz

In [45]:
!pip install -q findspark

In [46]:
!pip install -q pyspark

In [47]:
import os

In [48]:
os.environ['JAVA_HOME'] = '/usr/lib/jvm/java-8-openjdk-amd64'

In [49]:
os.environ['SPARK_HOME'] = '/content/spark-3.4.3-bin-hadoop3'

In [50]:
import findspark

In [51]:
 findspark.init()

In [52]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.master('local[*]').getOrCreate()

In [ ]:
dataset = spark.read.csv('/content/sample_data/california_housing_test.csv',inferSchema=True, header =True)

In [ ]:
dataset.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [ ]:
spark.stop()

In [ ]:
from pyspark import SparkContext

In [ ]:
spark_contexto = SparkContext()

In [ ]:
print(spark_contexto)
print(spark_contexto.version)

<SparkContext master=local[*] appName=pyspark-shell>
3.4.2

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate() # Create my_spark

In [ ]:
print(spark) # Print my_spark

<pyspark.sql.session.SparkSession object at 0x7acb52fca5f0>

In [ ]:
dataset = spark.read.csv('/content/sample_data/california_housing_test.csv',inferSchema=True, header =True)

In [ ]:
dataset.head()

Row(longitude=-122.05, latitude=37.37, housing_median_age=27.0, total_rooms=3885.0, total_bedrooms=661.0, population=1537.0, households=606.0, median_income=6.6085, median_house_value=344700.0)

In [ ]:
dataset.count()

3000

In [ ]:
dataset.createOrReplaceTempView('tabela_temporaria')

In [ ]:
 print(spark.catalog.listTables())

[Table(name='tabela_temporaria', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [ ]:
query = 'FROM tabela_temporaria SELECT longitude, latitude LIMIT 3'

In [ ]:
saida = spark.sql(query)

In [ ]:
saida.show()

+---------+--------+
|longitude|latitude|
+---------+--------+
|  -122.05|   37.37|
|   -118.3|   34.26|
|  -117.81|   33.78|
+---------+--------+

In [ ]:
query1 = 'SELECT MAX(total_rooms) as maximo_quartos FROM tabela_temporaria'

In [ ]:
q_maximo_quartos = spark.sql(query1)
pd_maximo_quartos = q_maximo_quartos.toPandas()

In [ ]:
print('A quantidade máxima de quartos é: {}'.format(pd_maximo_quartos['maximo_quartos']))
qtd_maximo_quartos = int(pd_maximo_quartos.loc[0,'maximo_quartos'])

A quantidade máxima de quartos é: 0    30450.0
Name: maximo_quartos, dtype: float64

In [ ]:
query2 = 'SELECT longitude, latitude FROM tabela_temporaria WHERE total_rooms = '+str(qtd_maximo_quartos)

In [ ]:
 localizacao_maximo_quartos = spark.sql(query2)
 pd_localizacao_maximo_quartos = localizacao_maximo_quartos.toPandas()
 print(pd_localizacao_maximo_quartos.head())

   longitude  latitude
0     -117.2     33.58

In [ ]:
import pandas as pd
import numpy as np
media = 0
desvio_padrao=0.1
pd_temporario = pd.DataFrame(np.random.normal(media,desvio_padrao,100))
spark_temporario = spark.createDataFrame(pd_temporario)
print(spark.catalog.listTables())
spark_temporario.createOrReplaceTempView('nova_tabela_temporaria')
print(spark.catalog.listTables())

[Table(name='tabela_temporaria', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]
[Table(name='nova_tabela_temporaria', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True), Table(name='tabela_temporaria', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [ ]:
spark.stop()